header {
  font-size: 48px;
  background-color: #00d1b2;
  padding: 1.5rem;
  border-bottom: #011627 5px solid;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  color: #011627;
}

#information {
  background-color: #fdfffc;
  border-bottom: #011627 1px solid;
}

#directions {
  padding: 1rem 1.5rem;
}

#user-form {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

#search-history {
  padding-left: 2rem;
}

#book-output {
  padding-left: 2.5rem;
  padding-top: 2rem;
}

#search-input {
  width: 15rem;
}

#main_movie {
  padding-right: 2.5rem;
  padding-top: 2rem;
}

.movieInfo {
  display: flex;
}

.movie-element,
.book-element {
  padding-bottom: 4rem;
}

.overview {
  padding: 2rem;
}

#placeholder {
  max-width: 155px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: #011627;
  color: aliceblue;
  text-align: center;
  border-top: #00d1b2 solid 3px;
}

/* Clear floats after the columns */
