* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-size: 48px;
  background-color: #00d1b2;
  padding: 1.5rem;
  border-bottom: #011627 5px solid;
  display: flex;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  color: #011627;
}

#information {
  background-color: #011627;
  border-bottom: #00d1b2 5px solid;
  color: white;
}

#directions {
  padding: 1rem 1.5rem;
}

#user-form {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
}

.column-heading,
.column-heading-pad {
  font-size: 1.75rem;
  font-weight: bold;
  color: #00d1b2;
  padding-top: 2rem;
}

.column-heading-pad {
  padding-left: 2rem;
}

#search-history {
  padding-left: 2.5rem;
  padding-top: 1rem;
}

#book-output {
  padding-left: 2.5rem;
  padding-top: 1rem;
  padding-right: 2.5rem;
}

#search-input {
  width: 15rem;
}

#history {
  font-size: 1.5rem;
  font-weight: bold;
  color: #011627;
}

#main_movie {
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-left: 2.5rem;
}

.output-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #011627;
}

.movieInfo {
  display: flex;
}

.movie-element,
.book-element {
  padding-bottom: 4rem;
}

.overview {
  padding: 1rem;
}

#placeholder {
  max-width: 155px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #011627;
  color: white;
  border-top: #00d1b2 solid 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tmdb img {
  height: 1rem;
}

#tmdb {
  padding-left: 1rem;
}

#developers {
  padding-right: 1rem;
  text-align: right;
}

@media screen and (max-width: 950px) {
  footer p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 500px) {
  footer p {
    font-size: 0.5rem;
  }

  #tmdb img {
    height: 0.5rem;
  }
}

@media screen and (max-width: 360px) {
  #search-input {
    width: 12rem;
  }
}
